body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background-color: #f4f4f4;
    color: #333;
}

h2 {
    text-align: center;
    color: #006699;
}

form {
    text-align: center;
    margin-bottom: 20px;
}

input[type="text"], input[type="number"], input[type="submit"] {
    padding: 10px;
    margin: 10px;
}

table {
    margin: auto;
    background-color: #fff;
    border-collapse: collapse;
    width: 80%;
}

th, td {
    padding: 12px;
    border: 1px solid #ccc;
    text-align: center;
}


.navbar {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
    font-weight: bold;
}

.navbar a:hover {
    text-decoration: underline;
}

.search-form input[type="text"] {
    padding: 5px;
    border: none;
    border-radius: 3px;
}

.search-form button {
    padding: 6px 12px;
    background-color: #006699;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.search-form button:hover {
    background-color: #004d66;
}
